.config/*
!.config/

!.config/btop
!.config/eww
!.config/hypr
!.config/kitty
!.config/lazygit
!.config/spotify-player
!.config/nvim
!.config/nvim/*
!.config/starship.toml
!.config/tmux
!.config/ulauncher
!.config/waybar
!.config/yazi
